* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.header-container {
  width: 80%;
  display: flex;
  align-items: center;
}

.card-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.container {
  width: 80%;
  display: flex;
  align-items: center;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card div {
  min-width: 150px;
  text-align: center;
}

.contacts-header-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  display: flex;
  align-items: center;
}

.options div {
  padding: 0.3em 1em;
}

.form {
  overflow: hidden;
  transition: all 200ms ease;
}

.hidden {
  max-height: 0;
  overflow: hidden;
}

.expanded {
  max-height: 500px;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.map {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-none {
  display: none;
}

.close {
  color: red;
}

.mapBG {
  width: 100%;
  height: 103vh;
  transform: translateY(-5%);
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e6e6e6;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

#name:hover .Name {
  display: block;
}

#email:hover .Email {
  display: block;
}

#phone:hover .Phone {
  display: block;
}

#status:hover .Status {
  display: block;
}

.auth-container {
  text-align: center;
  height: 100vh;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  width: fit-content;
  background-color: #e6e6e6;
  height: fit-content;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.action {
  padding-top: 2em;
}

.form-action {
  color: red;
  cursor: pointer;
}

.form-footer {
  padding-top: 1em;
  font-size: 0.7em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 5em;

}



.translate {
  transform: translateX(500%);
  display: none;
}

.fade-out {
  animation: fade 100ms linear forwards;
}

.fade-in {
  animation: fade 100ms linear reverse;
}

.slide-in {
  animation: slide 200ms ease-in-out reverse;
}

.slide-out {
  animation: slide 200ms ease-in-out forwards;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(300%);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.75);
  }
}